@tailwind base;
@tailwind components;
@tailwind utilities;

select > option {
  padding: 1rem;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d10024;
}

.slick-slide > div {
  margin: 0 10px;
}
